*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #4990E2;
}

#container{
	width: 90%;
	max-width: 1106px;
	margin: 15% auto;
}
#main{
	width: 60%;
	float: left;
}

h1{
   	font-family: "Avenir Next Bold";
	color: white;
	text-transform: uppercase;
	font-size: 5vw;
}

p{
	color: white;
	font-family: "Avenir Next Regular";
	font-size: 3vw;
	margin-bottom: 30px;
}

@font-face {
  	font-family: 'Avenir Next Bold';
  	src: url("fonts/AvenirNextLTPro-Bold.otf");
}

@font-face {
  	font-family: 'Avenir Next Regular';
  	src: url("fonts/AvenirNextLTPro-Regular.otf");
}

.social-button{
	width: 285px;
	margin-right: 20px;
	height: 45px;
	border-radius: 10px;
	float: left;
	margin-top: 10px;
	padding-top: 20px;
}

.social-button:hover{
	opacity: .87;
	cursor: pointer;
}

#facebook img, #twitter img, #google img, #download img{
	float: left;
	margin-right: 10px;
	margin-left: 20px;
}

.social-button p{
	font-size: 15pt;

}

#download{
	right: clear;
	float: none;
}

#facebook, #download{
	background-color: #3B5998;
}

#twitter{
	background-color: #00ACED;
}

#google{
	background-color: #d74937;
}


#ext-preview{
	background-color: white;
	width: 275px;
	border-radius: 10px;
	height: 350px;
	float: right;
	margin-top: 10px;
}

@media (min-width: 1106px) {

h1{
	font-size: 45pt;
}
p{
	font-size: 25pt;
}
}

@media (max-width: 700px) {
	h1{
		font-size: 30pt;
	}
	p{
		font-size: 18pt;
	}
}

@media (max-width: 780px) {
	#main{
		float: none;
		width: 100%;
	}
	.social-button{
		margin: auto;
		float: none;
	}
	#ext-preview{
		float: none;
		margin: auto;
		margin-top: -50px;
		margin-bottom: 30px;	
	}
	h1{
		text-align: center;	
	}
	p{
		text-align: center;
		max-width: 60%;
		margin: auto;
	}
	.social-button p{
		max-width: none;
	}
	.social-button{
		margin-top: 15px;
	}
}

#signOut{
	font-size: 12pt;
	float: bottom;
	margin-top: 15px;
}
#signOut a{
	text-decoration: underline;
	color: white;
}
.signedIn{
 display:none;
}
